/* Adaptable (Responsivo) */

@media  screen and (max-width: 2000px) {
    .search-products {
        padding: 30px;
    }

     /* Categories */

    .categories ul li {
        margin-bottom: 20px;
    }

}

/* 'xxl' applies to x-large devices (large desktops, less than 1400px)  */

@media screen and (max-width: 1399.98px) {
    
    .search-products {
        padding: 30px;
    }

     /* Categories */

    .categories ul li {
        margin-bottom: 20px;
    }

}


/* 'xl' applies to large devices (desktops, less than 1200px) */

@media screen and (max-width: 1199.98px) {
/* site-content */


.search-products {
    padding: 30px;
}

 /* Categories */

.categories ul li {
    margin-bottom: 20px;
}


    /* Filtros de precios */

.contenedor {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.products-showing .description-name {
    color: #565656;
    font: 14.45px Cabin, sans-serif;
    margin: 0px 0px 7.225px;
}

.products-showing h2{
    font: 17px Montserrat, sans-serif;
    margin: 0px 0px 8.5px;
}

}

/* 'lg' applies to medium devices (landscape phones, less than 992px) */

@media screen and (max-width: 991.98px) {

    .categories h2 {
        font-size: 27px;
        padding: 0px;
    }

    .categories li {
        display: flex;
        margin-right: 200px;
    }

    .site-content img {
        width: 136px;
        height: 270px;
        margin-bottom: 13.6px;
        padding: 0px 30px;
        flex-wrap: wrap;
    }

    
    .search-products {
        padding: 10px;
    }

     /* Categories */

    .categories ul li {
        margin-bottom: 20px;
    }




    .products-showing img {
        padding: 0px 14px;
    }


    /* Contact-Details  */

    .info li{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .info .address {
        text-align: justify;
    }
    
    .title h2 {
        display: flex;
        justify-content: flex-start;
    }
}

/* 'md' applies to small devices (landscape phones, less than 768px) */

@media  screen and (max-width: 767.98px) {

    .site-content img {
        width: 202.63px;
        height: 202.63px;
    }

    
    .search-products {
        padding: 30px;
    }

    /* Categories */

    .categories ul li {
        margin-bottom: 20px;
    }

    


    .contact-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

     /* Contact Details */

    
    .title h2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info li{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Quick Links  */

    .title-links h2 {
        margin: 0px 0px 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    .info-links li {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        margin: 30px 0px;
        display: flex;
        justify-content: center;
    }


    /* Footer */

    .icons {
        margin-top: 30px;
    }
}

/* 'sm' applies to x-small devices (portrait phones, less than 576px)  */

@media screen and (max-width: 575.98px) {

    .container-fluid {
        display: flex;
        justify-content:  center;
    }

    .search-products {
        padding: 30px;
    }

    /* Categories */

    .categories ul {
        padding: 0px;
    }

    .categories ul li {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        padding: 0px;
        margin-right: 0px;
    }




    /* Sección principal del sitio web  */

    .breadcrumb span{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }

    .showing-results {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .options-sort {
        border: 3px solid black;
    }

    
}






@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}